.section-meals {
    text-align: center;
    padding: 9.6rem 0;
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 4.8rem !important;
        column-gap: 6.4rem;
        row-gap: 9.6rem;
        @media (max-width: 75em){
            column-gap: 4.8rem;
            row-gap: 6.4rem;
        }
        @media (max-width: 34em){
            grid-template-columns: 1fr;
        }
    }
    .meal {
        box-shadow: rgba(0, 0, 0, 0.075) 0px 2.4rem 4.8rem;
        border-radius: 11px;
        overflow: hidden;
        transition: all 0.4s ease 0s;
        .meal-img {
            width: 100%;
        }
    }
    .meal-content{
        text-align: start;
        padding: 3.2rem 4.8rem 4.8rem;
        @media (max-width: 59em){
            padding: 2.4rem 3.2rem 3.2rem 3.2rem;
        }

        .meal-tags {
            margin-bottom: 1.2rem;
            display: flex;
            gap: 0.4rem;
    
            .meal-tag {
                display: inline-block;
                font-size: 1.2rem;
                color: rgb(51, 51, 51);
                font-weight: 600;
                padding: 0.4rem 0.8rem;
                border-radius: 100px
            }
            .vegetarian { 
                background-color: rgb(81, 207, 102)
            }
            .vegan {
                background-color:  #94d82d;
            }
            .paleo {
                background-color: #ffd43b;
            }
        }
        .meal-title {
            font-size: 2.4rem;
            color: rgb(51, 51, 51);
            font-weight: 600;
            margin-bottom: 3.2rem;
        }
        .meal-attributes {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 2rem;

            .meal-attribute {
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                gap: 1.6rem;
            }
        }
    }
}

.icon-done{
    stroke: rgb(230, 126, 34);
    height: 2.4rem;
    width: 2.4rem;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .list-item {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;
        line-height: 1.2;
    }
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: rgb(230, 126, 34);
}

.link-all-recipes {
    display: inline-block;
    color: rgb(230, 126, 34);
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid rgb(168, 62, 13);
    transition: all 0.3s ease 0s;
    font-size: 1.8rem;
}