*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
   @media (max-width: 75em) {
    font-size: 56.25%;
}
@media (max-width: 59em) {
    font-size: 50%;
}
}

::selection {
  background-color:rgb(71, 71, 231);
  color: white;
  
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}